.main-wrapper {
  width: 85%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0.75em 0;
  padding: 0;
}
.main-wrapper .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  opacity: 0;
  animation: main-content 1s ease-in-out 1s forwards;
}
.main-wrapper .main-content .main-title {
  font-size: 5.5vw;
  font-weight: 600;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #bfb5f7;
}
.main-wrapper .main-content .main-title .gradient-title {
  font-family: "Poppins", sans-serif;
  font-size: 6.5vw;
  font-weight: 700;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px transparent;
  color: rgba(255, 255, 255, 0.219);
  background-image: var(--gradient-text);
  background-position: left;
  transition: background-position 2s ease;
}
.main-wrapper .main-content .main-title .gradient-title:hover, .main-wrapper .main-content .main-title .gradient-title:focus {
  background-position: right;
}
.main-wrapper .main-content .main-terminal {
  width: 100%;
  border-top: 1px solid rgba(207, 207, 207, 0.2549019608);
  margin-left: -0.125em;
  padding: 0 1.25em 0 7em;
}
.main-wrapper .main-content .main-terminal .terminal-window {
  width: 600px;
  height: auto;
  margin-top: 2em;
  border: 1px solid rgba(207, 207, 207, 0.2549019608);
  border-right: 10px solid #8b77fc;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.main-wrapper .main-content .main-terminal .terminal-window .header-hero {
  background: rgba(236, 236, 236, 0.1176470588);
  border-bottom: 1px solid rgba(207, 207, 207, 0.2549019608);
}
.main-wrapper .main-content .main-terminal .terminal-window .header-hero ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.5em;
  padding: 0.5em 0;
  list-style-type: none;
}
.main-wrapper .main-content .main-terminal .terminal-window .header-hero ul .button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 0.25em;
  border: 1px solid rgba(207, 207, 207, 0.2549019608);
}
.main-wrapper .main-content .main-terminal .terminal-window .header-hero ul .button:nth-child(1) {
  background-image: var(--gradient-btnPurple);
}
.main-wrapper .main-content .main-terminal .terminal-window .header-hero ul .button:nth-child(2) {
  background-image: var(--gradient-btnBlue);
}
.main-wrapper .main-content .main-terminal .terminal-window .header-hero ul .button:nth-child(3) {
  background-image: var(--gradient-btnAqua);
}
.main-wrapper .main-content .main-terminal .terminal-window .console-container {
  position: relative;
  display: flex;
  padding: 1.5em 1.25em 2em;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
}
.main-wrapper .main-content .main-terminal .terminal-window .console-container .hidden {
  opacity: 0;
}
.main-wrapper .main-content .main-terminal .terminal-window .console-container p {
  font-size: 1.2rem;
  color: #00ccff;
}
.main-wrapper .main-content .main-terminal .terminal-window .console-container p #text {
  margin-left: 0.4em;
}
.main-wrapper .main-content .main-terminal .terminal-window .console-container::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 101.5%;
  height: 1px;
  box-shadow: 0 0 25px 60px rgb(1, 8, 22);
}

.image-container {
  width: 100%;
}
.image-container > div {
  position: unset !important;
}
.image-container .hero-image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  border-radius: 50%;
  margin-top: 0.375em;
  opacity: 0.7;
}

@keyframes main-content {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=HeroSection.module.css.map */