.wrapper {
  width: 100%;
  padding: 1.75em 1.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  min-height: 100vh;
  perspective: 100px;
  background-color: rgb(1, 8, 22);
  background: -moz-linear-gradient(
    0deg,
    rgba(1, 8, 22, 1) 80%,
    rgb(10, 2, 37) 98%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(1, 8, 22, 1) 80%,
    rgb(10, 2, 37) 98%
  );
  background: linear-gradient(0deg, rgba(1, 8, 22, 1) 80%, rgb(10, 2, 37) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010816",endColorstr="#040e2f",GradientType=1);

  &::after {
    position: absolute;
    content: "";
    height: 40rem;
    left: -5%;
    right: -5%;
    top: 90%;
    transition: transform 1s ease-in-out;
    transform-origin: 0 0;
    background-image: var(--gradient-box-solid);
    box-shadow: 0 0 80px 120px #0a0025;
    opacity: 0;
    animation: slide-up-bounce 1.75s ease-in 1s forwards;
  }
}

.header {
  position: relative;
  width: 75%;
  margin: 1em 0 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@keyframes slide-up-bounce {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  85% {
    transform: rotateZ(-5.25deg);
  }
  90% {
    transform: rotateZ(-4.25deg);
  }
  95% {
    transform: rotateZ(-4.5deg);
  }
  100% {
    transform: rotateZ(-4deg) translateY(0);
    opacity: 1;
  }
}
