.content-container-mobile {
  display: none;
}

.content-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1150px;
  margin: 0.25em auto 13.25em;
  padding: 0 2em;

  ul {
    width: 45%;
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      display: flex;
      margin: 0;
      padding: 0;

      // h1 {
      //   margin-bottom: 0.25em;
      // }

      button {
        display: flex;
        color: inherit;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        transition: all 1s ease-in-out;
      }

      .icon {
        font-size: 2rem;
      }
    }
  }

  .graph-container {
    max-width: 95%;
    height: auto;

    div {
      p {
        font-size: 1.125rem;
        font-weight: 400;
      }
    }

    .skills-graph {
      --border-violet: #c19aff4d;
      --border-blue: #092cf359;
      --border-rouge: #97226a79;
      float: right;
      min-height: 375px;
      margin: 0.75em 2.25em 1em;
      padding: 1.25em 1.5em 2em;
      background: #181818;
      border-radius: 8px;
      border: 1px solid var(--border-blue);

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .skills-graph-title-left,
      .skills-graph-title-right {
        margin-bottom: 1em;
        padding: 0.1em 0.5em;
        border-radius: 4px;
        color: #858585;
      }

      .skills-graph-title-left {
        align-self: flex-start;
        background: #6913f3;
      }

      .skills-graph-title-right {
        align-self: flex-end;
        background: #092df3;
      }

      .skills-graph-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 2em;
      }
    }

    .skills-graph:nth-of-type(2) {
      float: left;
      border-color: var(--border-violet);
    }

    .skills-graph:nth-of-type(6) {
      float: left;
      border-color: var(--border-rouge);

      .skills-graph-title-left {
        background: #97226a;
      }
    }

    p {
      margin: 1.25em auto;
      line-height: 2;
      text-align: justify;
    }

    p + p {
      margin-top: 2em;
    }
  }

  .skills-section {
    width: 100%;
    max-width: 90%;
    margin: 1.5em 0;
    padding: 1em 1em 2em;
    background: #181818;
    border-radius: 8px;
    border: 1px solid #c19aff4d;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .skills-title {
      margin-bottom: 1em;
      padding: 0.1em 0.5em;
      border: 1px solid #c19aff4d;
      border-radius: 4px;
    }

    .skills-container {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      gap: 2em;
    }
  }
}
