.content-container-mobile {
  display: none;
}

.content-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1150px;
  margin: 0.25em auto 13.25em;
  padding: 0 2em;
}
.content-container ul {
  width: 55%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: fade-in-down 0.7s ease-in 0.25s both;
}
.content-container ul li {
  display: flex;
  margin: 0;
  padding: 0;
}
.content-container ul li button {
  display: flex;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}
.content-container ul li .icon {
  font-size: 2rem;
  transition: all 1s linear;
}
.content-container ul li .switch {
  width: 100px;
  height: 30px;
  position: relative;
}
.content-container ul li .switch input {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.content-container ul li .switch label {
  display: block;
  width: 80%;
  height: 100%;
  position: relative;
  background: #1f2736; /*#121823*/
  background: linear-gradient(#121823, #161d2b);
  border-radius: 30px 30px 30px 30px;
  box-shadow: inset 0 3px 8px 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.content-container ul li .switch input ~ label i {
  display: block;
  height: 26px;
  width: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 2;
  border-radius: inherit;
  background: #283446; /* Fallback */
  background: linear-gradient(#36455b, #283446);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.3), 0 12px 12px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.content-container ul li .switch label + span {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 10px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #283446;
  background: gradient-gradient(#36455b, #283446);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 10px rgba(185, 231, 253, 0), inset 0 0 8px rgba(0, 0, 0, 0.9), inset 0 -2px 5px rgba(0, 0, 0, 0.3), inset 0 -5px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
}
.content-container ul li .switch input:checked ~ label + span {
  content: "";
  display: inline-block;
  position: absolute;
  top: 10px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
  background: #b9f3fe;
  background: gradient-gradient(#ffffff, #77a1b9);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 10px rgb(100, 231, 253), inset 0 0 8px rgba(61, 157, 247, 0.8), inset 0 -2px 5px rgba(185, 231, 253, 0.3), inset 0 -3px 8px rgba(185, 231, 253, 0.5);
}
.content-container ul li .switch input:checked ~ label i {
  left: auto;
  left: 63%;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.3), 0 8px 8px rgba(0, 0, 0, 0.3), inset -1px 0 1px #b9f3fe;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.content-container .graph-container {
  max-width: 95%;
  height: auto;
  transition: all 1s ease;
  animation: fade-in-up 0.7s ease-in 0.5s both;
}
.content-container .graph-container div p {
  font-size: 1.125rem;
  font-weight: 400;
}
.content-container .graph-container .skills-graph {
  --border-violet: #c19aff4d;
  --border-blue: #092cf359;
  --border-rouge: #97226a79;
  float: right;
  min-height: 375px;
  margin: 0.75em 2.25em 1em;
  padding: 1.25em 1.5em 2em;
  background: #181818;
  border-radius: 8px;
  border: 1px solid var(--border-blue);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.content-container .graph-container .skills-graph .skills-graph-title-left,
.content-container .graph-container .skills-graph .skills-graph-title-right {
  margin-bottom: 1em;
  padding: 0.1em 0.5em;
  border-radius: 4px;
  color: #858585;
}
.content-container .graph-container .skills-graph .skills-graph-title-left {
  align-self: flex-start;
  background: #6913f3;
}
.content-container .graph-container .skills-graph .skills-graph-title-right {
  align-self: flex-end;
  background: #092df3;
}
.content-container .graph-container .skills-graph .skills-graph-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}
.content-container .graph-container .skills-graph:nth-of-type(2) {
  float: left;
  border-color: var(--border-violet);
}
.content-container .graph-container .skills-graph:nth-of-type(6) {
  float: left;
  border-color: var(--border-rouge);
}
.content-container .graph-container .skills-graph:nth-of-type(6) .skills-graph-title-left {
  background: #97226a;
}
.content-container .graph-container p {
  margin: 1.25em auto;
  line-height: 2;
  text-align: justify;
}
.content-container .graph-container p + p {
  margin-top: 2em;
}
.content-container .skills-section {
  width: 100%;
  max-width: 90%;
  margin: 1.5em 0;
  padding: 1em 1em 2em;
  background: #181818;
  border-radius: 8px;
  border: 1px solid rgba(193, 154, 255, 0.3019607843);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.content-container .skills-section .skills-title {
  margin-bottom: 1em;
  padding: 0.1em 0.5em;
  border: 1px solid rgba(193, 154, 255, 0.3019607843);
  border-radius: 4px;
}
.content-container .skills-section .skills-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=ContentAbout.module.css.map */