.nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  border: 1px solid #cfcfcf41;
  border-left: 10px solid #8b77fc;
  padding: 0.65em 1.25em;
  border-radius: 8px;
  background: #ececec1e;
  animation: navbar 1s ease-in-out forwards;

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;

    ul,
    li {
      margin: 0;
      padding: 0;

      .nav-link {
        text-decoration: none;
        color: #bfb5f7;
        font-size: inherit;

        transition: all 0.3s ease-in-out;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 2px;
          background: #8b77fc;
          transform: scaleX(0);
          transform-origin: left;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          color: #8b77fc;

          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  ul.logo {
    text-align: center;
    letter-spacing: 0.075em;
    font-size: 0.85rem;
    color: #bfb5f7;
    padding: 0.5em 0.75em;
    border: 1px solid #cfcfcf41;
    border-right: 7px solid #8b77fc;
    border-radius: 5px;
    box-shadow: inset 0 0 2px 2px #dbdbdb15;
    background-image: var(--gradient-logo);
  }

  ul.nav-primary {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    li {
      margin: 0;
      padding: 0;
      width: 110px;
      text-align: center;
    }

    li + li {
      border-left: 1px solid #cfcfcf41;
    }
  }

  nav:nth-child(2) {
    width: auto;
    border-right: 10px solid #8b77fc;
    border-left: 1px solid #cfcfcf41;
    opacity: 0;
    animation-delay: 0.5s;
  }

  li + li {
    margin-left: 1em;
    padding: 0.325em 0;
  }
}
