.header-nav {
  position: relative;
  width: 75%;
  margin: 1em 0 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  overflow: hidden;
}
.header-nav::after {
  position: absolute;
  content: "";
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 0;
  box-shadow: 0 0 20px 35px rgba(11, 1, 29, 0.493);
}
.header-nav .nav-left {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(207, 207, 207, 0.2549019608);
  border-left: 10px solid #8b77fc;
  border-radius: 8px;
  padding: 0.65em 1.25em;
  background: rgba(236, 236, 236, 0.1176470588);
  animation: navbar 1s ease-in-out forwards;
}
.header-nav .nav-left ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.header-nav .nav-left ul ul,
.header-nav .nav-left ul li {
  margin: 0;
  padding: 0;
}
.header-nav .nav-left ul ul .nav-link,
.header-nav .nav-left ul li .nav-link {
  text-decoration: none;
  color: #bfb5f7;
  font-size: inherit;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.header-nav .nav-left ul ul .nav-link::after,
.header-nav .nav-left ul li .nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #8b77fc;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}
.header-nav .nav-left ul ul .nav-link:hover,
.header-nav .nav-left ul li .nav-link:hover {
  color: #8b77fc;
}
.header-nav .nav-left ul ul .nav-link:hover::after,
.header-nav .nav-left ul li .nav-link:hover::after {
  transform: scaleX(1);
}
.header-nav .nav-left .nav-link-home {
  text-decoration: none;
  color: #bfb5f7;
}
.header-nav .nav-left .nav-link-home:hover {
  color: #dbd5fc;
}
.header-nav .nav-left .nav-link-home:hover .logo li {
  color: #dbd5fc;
}
.header-nav .nav-left .nav-link-home .logo {
  text-align: center;
  letter-spacing: 0.075em;
  font-size: 0.85rem;
  color: #bfb5f7;
  padding: 0.5em 0.75em;
  border: 1px solid rgba(207, 207, 207, 0.2549019608);
  border-right: 7px solid #8b77fc;
  border-radius: 5px;
  box-shadow: inset 0 0 2px 2px rgba(219, 219, 219, 0.0823529412);
  background-image: var(--gradient-logo);
  background-size: 140%;
  background-position: left;
  transition: background-position 1s ease-in-out both;
}
.header-nav .nav-left .nav-link-home .logo:hover {
  background-position: right;
}
.header-nav .nav-left .nav-primary {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.header-nav .nav-left .nav-primary li {
  margin: 0;
  padding: 0;
  width: 110px;
  text-align: center;
}
.header-nav .nav-left .nav-primary li + li {
  border-left: 1px solid rgba(207, 207, 207, 0.2549019608);
}
.header-nav .nav-left .nav-mobile {
  display: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #bfb5f7;
}
.header-nav .nav-right {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(207, 207, 207, 0.2549019608);
  border-right: 10px solid #8b77fc;
  border-radius: 8px;
  background: rgba(236, 236, 236, 0.1176470588);
  opacity: 0;
  font-size: 1.1425rem;
  margin: 0;
  padding: 0.6em 1em;
  animation: navbar 1s ease-in-out 0.5s forwards;
}
.header-nav .nav-right .nav-utility {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.header-nav .nav-right .nav-utility li {
  margin-top: 0.25em;
  padding: 0;
}
.header-nav .nav-right .nav-utility li .nav-link {
  text-decoration: none;
  color: #bfb5f7;
  font-size: inherit;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.header-nav .nav-right .nav-utility li .nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #8b77fc;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease-in-out;
}
.header-nav .nav-right .nav-utility li .nav-link:hover {
  color: #8b77fc;
}
.header-nav .nav-right .nav-utility li .nav-link:hover::after {
  transform: scaleX(1);
}
.header-nav .nav-right .nav-utility li + li {
  margin-left: 1.2em;
}

/* ANIMATIONS */
@keyframes navbar {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* MEDIA QUERIES */
@media (max-width: 1150px) {
  .header-nav {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .header-nav {
    width: 95%;
    margin-top: 0.25em;
    overflow: visible;
  }
  .header-nav .nav-left {
    flex-grow: 1;
  }
  .header-nav .nav-left .nav-link-home .logo {
    flex-grow: 1;
  }
  .header-nav .nav-left .nav-primary {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: -5000px;
    right: 5px;
    width: 100%;
    height: 100vh;
    background: rgba(236, 236, 236, 0.1019607843);
    border-left: 1px solid rgba(207, 207, 207, 0.2549019608);
    border-right: 1px solid rgba(207, 207, 207, 0.2549019608);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
  }
  .header-nav .nav-left .nav-primary::before {
    content: "";
    position: absolute;
    top: 330px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 1;
    box-shadow: 0 80px 70px 170px rgba(87, 63, 124, 0.6509803922);
  }
  .header-nav .nav-left .nav-primary::after {
    content: "";
    position: absolute;
    top: 285px;
    left: 0;
    width: 100%;
    height: 30vh;
    background-image: url("../../../assets/images/port1.jpg");
    background-repeat: no-repeat;
    background-position: unset;
    opacity: 0.3;
    background-size: cover;
  }
  .header-nav .nav-left .nav-primary li {
    width: 50%;
    font-size: 1.25rem;
    padding: 1em 0;
    border-bottom: 1px solid rgba(207, 207, 207, 0.2549019608);
    transition: all 0.3s ease-in-out;
  }
  .header-nav .nav-left .nav-primary li:hover {
    background-color: rgba(236, 236, 236, 0.1176470588);
  }
  .header-nav .nav-left .nav-primary li + li {
    border-left: none;
  }
  .header-nav .nav-left .nav-primary li:last-child {
    border-bottom: none;
    padding-bottom: none;
  }
  .header-nav .nav-left .isActive {
    top: 56px;
  }
  .header-nav .nav-left .nav-mobile {
    display: block;
    cursor: pointer;
  }
  .header-nav .nav-left .nav-mobile li {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .header-nav .nav-left .nav-mobile li .mobile-icon {
    transition: all 0.3s ease-in-out;
  }
  .header-nav .nav-left .nav-mobile li .mobile-icon:hover {
    color: #8b77fc;
  }
  .header-nav .nav-right {
    display: none;
  }
}/*# sourceMappingURL=Navbar.module.css.map */